.referenceForm {
  border: 0;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
}

.formSection {
  border: 1px solid black;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 40px;
  padding: 10px;
}

.cta {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 12px;
}

.inputGroup {
  justify-content: space-between;
  width: 70%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .referenceForm {
    width: 70%;
  }

  .inputGroup {
    flex-direction: row;
  }
}
