#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.input-error {
  border: 1px solid red;
  outline: none;
}

.error-message {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.full-width {
  width: 70%;
}

.half-width {
  width: 35%;
}
