:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  color: #213547;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #34d9c3;
  border-color: #34d9c3;
  cursor: pointer;
  transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}
button:hover {
  color: #34d9c3;
  background-color: #253543;
  border-color: #253543;
}
button:disabled {
  background: #333 !important;
  opacity: 0.5;
  color: white;
  cursor: not-allowed;
  border-color: #253543;
}
button:disabled:hover {
  background: #333 !important;
  opacity: 0.3;
  color: white;
  border-color: #253543;
}

label {
  display: block;
}

input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
}

input[type="date"] {
  font-family: inherit;
}

select {
  width: 25%;
  font-size: 18px;
  padding: 12px;
  border-radius: 4px;
}
